@page "/"
@using DiagonAlley2._0.Components.Pages.Particles

<div class="particles-container">
    <ParticlesHome />
</div>
 
<div class="welcome">
    <h1 class=magic-title >Welcome to Diagon Alley</h1>


       <div class="btns">
            <button type="button" @onclick="GoToSignIn">Sign In</button>
            <button type="button" @onclick="GoToRegister">Register</button>
    </div>
</div>



@inject NavigationManager Nav

@code {
    void GoToSignIn() => Nav.NavigateTo("/signIn");
    void GoToRegister() => Nav.NavigateTo("/register");
}

