.welcome {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}


.btns {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    z-index: 6;
}

    .btns button {
        padding: 12px 28px;
        font-size: 1.2rem;
        font-family: 'IM Fell English SC', serif;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        color: black;
        background: #d4af37;
        font-weight: bold;
        letter-spacing: 1px;
        box-shadow: 0 0 12px rgba(212,175,55,0.8), inset 0 0 10px rgba(0,0,0,0.4);
        transition: all 0.25s ease-in-out;
        position: relative;
        z-index: 10;
    }

        .btns button:hover {
            background: #f5d87f;
            box-shadow: 0 0 20px rgba(255, 215, 0, 1), inset 0 0 12px rgba(0,0,0,0.5);
            transform: scale(1.08);
        }

        .btns button:active {
            transform: scale(0.95);
            box-shadow: 0 0 10px rgba(255, 215, 0, 0.6), inset 0 0 15px rgba(0,0,0,0.6);
        }




@media (max-width: 900px) {
    .welcome .magic-title {
        
        font-size: 45px;
    }
}
@media (max-width: 600px) {
    .welcome .magic-title {
        font-size: 23px;
    }
    .btns{
        flex-direction: column;
    }
}
