@page "/shop"

@using DiagonAlley2._0.Components.Pages.Particles
@using DiagonAlley2._0.Components.Shop
@using DiagonAlley2._0.Models
@using DiagonAlley2._0.Services
@using global::Services

@inject NavigationManager Nav
@inject LoginService LoginService
@inject ProductService ProductService
@inject CartService CartService

<div class="particles-container">
    <ParticlesShop />
</div>

    @if (ShowForm)
    {
        <div class="creat-div">
            <ProductForm
                Model="SelectedProduct"
                IsEdit="IsEditing"
                OnSaved="OnProductSaved"
                OnCancel="CloseForm" />
        </div>
    }
    <Toast @ref="ToastRef" />

<div class="shop-container">

    <h1 class="magic-title">Diagon Alley Shop</h1>

    <div class="shop-btn">
        <button class="btn" @onclick="HandleLogout">Sign out</button>

        @if (LoginService.IsAdmin)
        {
            <button class="btn" @onclick="HandleCreate">Add product</button>
        }
        else
        {
            <button class="btn" @onclick="HandleGoToCart">Cart</button>
        }
    </div>

    <div class="shop-content">
        @if (Products.Count == 0)
        {
            <p style="color: gold;">Loading products...</p>
        }
        else
        {
            <div class="product-grid">
                @foreach (var product in Products)
                {
                    <ProductCard
                        Product="product"
                        IsAdmin="LoginService.IsAdmin"
                        OnAddToCart="HandleAddToCart"
                        OnEdit="HandleEdit"
                        OnDeleted="HandleDeleted" />
                }
            </div>
        }
    </div>

</div>

@code {
    private List<Product> Products = new();
    private Toast? ToastRef;
    private bool ShowForm;
    private bool IsEditing;
    private Product? SelectedProduct;

    protected override async Task OnInitializedAsync()
    {
        Products = await ProductService.GetAllAsync();
    }

    private async Task HandleAddToCart(Product product)
    {
        await CartService.AddToCart(product);
        await ToastRef!.Show($"Added 1 {product.Name} to cart");
    }

    void HandleCreate()
    {
        IsEditing = false;
        SelectedProduct = null;
        ShowForm = true;
    }

    void HandleEdit(Product product)
    {
        SelectedProduct = product;
        IsEditing = true;
        ShowForm = true;
    }

    async Task HandleDeleted(Product product)
    {
        Products.Remove(product);
        await Task.CompletedTask;
    }

    async Task OnProductSaved()
    {
        Products = await ProductService.GetAllAsync();
        CloseForm();
    }

    void CloseForm()
    {
        ShowForm = false;
        IsEditing = false;
        SelectedProduct = null;
    }

    void HandleLogout() => Nav.NavigateTo("/");
    void HandleGoToCart() => Nav.NavigateTo("/cart");
}
