
.shop-container {
    position: relative;
    z-index: 5;
    text-align: center;
    padding-top: 50px;
    display: grid;
    min-height: 100vh;
    justify-items: center;
    padding-bottom: 30px
}

.shop-content {
    display: grid;
    margin-top: 40px;
    z-index: 5;
    place-items: center;
}

.shop-btn {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.spacer {
    flex: 0.7;
}

.btn-container {
    display: flex;
    gap: 30px;
}

.user-info {
    margin-left: auto;
    text-align: right;

}

.cart-summary {
    margin-left: 12px;
}

.user {
    color: gold;
    font-size: 20px;
}



@media (max-width: 1000px) {
    .shop-btn {
        flex-direction: column;
    }
    .user-info{
        margin: 10px;
    }

}



@media (max-width: 650px) {

    .shop-container .magic-title {
        font-size: 50px;
    }
   
}

@media (max-width: 460px) {

    .shop-container .magic-title {
        font-size: 33px;
    }
    .btn-container {
        flex-direction: column;
        gap: 2px;
    }
}
