
.shop-container {
    position: relative;
    z-index: 5;
    text-align: center;
    padding-top: 50px;
    display: grid;
    min-height: 100vh;
    justify-items: center;
    padding-bottom: 30px
}

.shop-content {
    display: grid;
    margin-top: 40px;
    z-index: 5;
    place-items: center;
}

.shop-btn {
    position: relative;
    display: flex;
    align-items: center;
    width: 55%;
}
.btn-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
}

.cart-summary {
    margin-left: 12px;
}

.user {
    color: gold;
    font-size: 20px;
}

.user-info {
    margin-left: auto;
   
}