@page "/shop"
@using DiagonAlley2._0.Components.Pages.Particles
@using DiagonAlley2._0.Components.Shop
@using DiagonAlley2._0.Models
@using DiagonAlley2._0.Services
@using DiagonAlley2._0.Services.Helper
@using global::Models.Enum
@using global::Services.Helper
@inject MongoDbService Db
@inject NavigationManager Nav
@inject LoginService LoginService

<div class="particles-container">
    <ParticlesShop />
</div>
<div class="shop-container" >

		<h1 class="magic-title">Diagon Alley Shop</h1>
        <div class="shop-btn" >
        <button class="btn" @onclick="HandeleLogout" >Sign out</button>
       
        @if(LoginService.IsAdmin == true)
        {
            <button class="btn" @onclick="handleCreate" >Add product</button>
        } 
        else
        {
        <button class="btn" @onclick="HandeleGoToCart" >Cart</button> 
        }
        </div> 

    <div class="shop-content">
        @if (Products.Count == 0)
        {
            <p style="color: gold;">Loading products...</p>
        }
        else
        {
           <div class="product-grid">
            @foreach (var product in Products)
            {
                <ProductCard
                    Product="product"
                    IsAdmin="LoginService.IsAdmin"
                    OnAddToCart="HandleAddToCart" />
            }
        </div>
        }
    </div>
    @if (CreatProduct)
    {   
        <div class="creat-div">
             
                    <ProductForm 
                         OnClose="CloseCreate" 
                         OnProductCreated="ReloadProducts"
                        />
        </div>
    }
</div>


@code {
    private List<Product> Products = new();
    private bool CreatProduct = false;

    protected override async Task OnInitializedAsync()
    {
        Products = await Db.GetAllAsync<Product>("Products");

    }
    private async Task HandleAddToCart(Product product)
    {
        var wizard = LoginService.CurrentWizard;

        await WizardHelper.AddToCart(wizard, product, Db);

        Console.WriteLine($"{product.Name} added to cart");
    }

    void HandeleLogout() =>  Nav.NavigateTo("/");
    void HandeleGoToCart() =>  Nav.NavigateTo("/cart");

    void handleCreate()
    {
        CreatProduct = true;
    }
    void CloseCreate()
{
    CreatProduct = false;
}

async Task ReloadProducts()
{
    Products = await Db.GetAllAsync<Product>("Products");
    StateHasChanged();
}


}
