@page "/signIn"
@using DiagonAlley2._0.Components.Pages.Particles
@using DiagonAlley2._0.Services
@using DiagonAlley2._0.Models
@inject NavigationManager Nav
@inject MongoDbService Db
@inject LoginService LoginService


<div class="particles-container">
   <ParticlesAuth />
</div

<div class="signIn">
	
	<h1>Diagon Alley</h1>


	<div class="input-section">
		<div class="inputValue">
		
        <label class="labels">Username</label>
        <input type="text"
               class="input"
               value="@UserName"
               @oninput="e => UserName = e.Value?.ToString()" />
		</div>
		<div class="inputValue" >
		 <label class="labels">Password</label>
        <input type="password"
               class="input"
               value="@Password"
               @oninput="e => Password = e.Value?.ToString()" />
		</div>
	</div>
        @if (!string.IsNullOrEmpty(Message))
{
    <p style="color: gold; margin-top: 10px;">@Message</p>
}

	<button class=btn @onclick="HandeleLogin" >Sign In</button>
	<button class=btn @onclick="HandeleBack" >Back</button>

</div>
@code {

	private string UserName { get; set; } = "";
	private string Password { get; set; } = "";
    private string? Message;


	private async Task HandeleLogin()
{
    Message = UserValidationHelper.ValidateCredentials(UserName, Password);
    if (Message != null)
        return;

    var wizards = await Db.GetAllAsync<Wizard>("Wizards");

    var wizard = wizards.FirstOrDefault(w =>
        w.Name == UserName && w.Password == Password);

    if (wizard == null)
    {
        Message = "Invalid username or password.";
        return;
    }

    LoginService.Login(wizard);
    Nav.NavigateTo("/shop");
}
	void HandeleBack() =>  Nav.NavigateTo("/");
	

}
