.signIn {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d4af37;
    font-family: 'IM Fell English SC', serif;
    position: relative;
    overflow: hidden;
}

    .signIn h1 {
        color: #d4af37;
        font-size: 4.5rem;
        font-family: 'IM Fell English SC', serif;
        letter-spacing: 3px;
        font-weight: 700;
        z-index: 5;
        text-shadow: 0 0 15px rgba(212,175,55,0.8), 0 0 30px rgba(212,175,55,0.5), 0 0 45px rgba(212,175,55,0.3);
        margin-bottom: 20px;
    }

.input-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    z-index: 5;
}

.inputValue {
    display: flex;
    flex-direction: column;
}

.labels {
    font-size: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 280px;
}

    .form-group label {
        margin-bottom: 5px;
        font-size: 1.2rem;
    }

.input {
    border-radius: 6px;
    border: none;
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    color: #fff !important;
    background: #333;
    box-shadow: 0 0 10px rgba(212,175,55,0.4);
    z-index: 5;
    position: relative;
}

.login-btn {
    padding: 12px 24px;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'IM Fell English SC', serif;
    background: #d4af37;
    color: black;
    box-shadow: 0 0 12px rgba(212,175,55,0.8), inset 0 0 10px rgba(0,0,0,0.4);
    transition: all 0.25s ease-in-out;
    z-index: 5;
    position: relative;
}

    .login-btn:hover {
        background: #f5d87f;
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(255,215,0,1), inset 0 0 10px rgba(0,0,0,0.5);
    }

.particle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ffdf5d;
    border-radius: 50%;
    opacity: 0.8;
    box-shadow: 0 0 15px #ffdf5d, 0 0 30px rgba(255,223,93,0.8);
    animation: float 4s infinite ease-in-out;
    pointer-events: none;
    z-index: 1;
}

@keyframes float {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0.8;
    }

    50% {
        transform: translateY(-35px) scale(1.3);
        opacity: 1;
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 0.85;
    }
}
