@using DiagonAlley2._0.Services
@inherits LayoutComponentBase
@inject LoginService LoginService

@code {
    private bool _restored;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_restored)
        {
            _restored = true;
            await LoginService.TryRestoreLoginAsync();
            StateHasChanged();
        }
    }
}

<div class="main-layout">
    <header></header>

    <main class="content">
        @Body
    </main>

    <footer></footer>
</div>


