.magic-title {
    color: #d4af37;
    font-size: 4.5rem;
    letter-spacing: 3px;
    font-weight: 700;
    text-shadow: 0 0 15px rgba(212,175,55,0.8), 0 0 30px rgba(212,175,55,0.5), 0 0 45px rgba(212,175,55,0.3);
    text-align: center;
    margin-bottom: 20px;
}

.magic-subtitle {
    text-align: center;
    color: #d4af37;
    margin-bottom: 30px;
}

.signIn {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d4af37;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
    .signIn h1 {
        color: #d4af37;
        font-size: 4.5rem;
        letter-spacing: 3px;
        font-weight: 700;
        text-shadow: 0 0 15px rgba(212,175,55,.8),0 0 30px rgba(212,175,55,.5),0 0 45px rgba(212,175,55,.3);
        margin-bottom: 20px;
    }

.input-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.inputValue {
    display: flex;
    flex-direction: column;
}
