.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 70%;
    font-family: 'IM Fell English SC', serif;
}

.product-card {
    background: #222;
    display: flex;
    flex-direction: column;
    border: 1px solid #d4af37;
    padding: 20px;
    width: 260px;
    border-radius: 12px;
    color: #d4af37;
    text-align: center;
    box-shadow: 0 0 12px rgba(212,175,55,0.5);
}

.product-image {
    width: 100%;
    height: 160px;
    object-fit: contain;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 10px rgba(212,175,55,0.6));
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.product-btn {
    margin-top: auto;
    padding-top: 20px;
  
}

.creat-div{
    position: absolute;
    top: 12%;
    left: 37%;
    z-index: 10;
    

}